.checkout {
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: rgb(237, 240, 240);
  padding-top: 10px;
}
.checkout__container {
  background-color: rgb(237, 240, 240);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-top: 10px;
  gap: 15px;
}

.checkout__upperbanner {
  margin: 5px auto;
  width: 50%;
  height: 75px;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.checkout__upperbannerButton {
  border: 0.5px solid grey;
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
}

.checkout__upperbannerText {
  font-size: 0.9em;
}

.checkout__left {
  width: 100%;
  background-color: white;
  padding: 30px;
  margin-left: 15px;
}

.checkout__right {
  width: 350px;
  height: 200px;
  background-color: white;
  padding: 0 15px 15px 15px;
  margin-right: 15px;
}

.checkout__leftLabels {
  display: flex;
  align-items: flex-end;
}

.checkout__leftTitle {
  flex: 1;
  padding-bottom: 10px;
  font-weight: normal;
}
.checkout__leftPricelabel {
  font-weight: normal;
}

hr {
  border: 0.5px solid #b9b9b9;
}

.checkout__leftSubtotal {
  text-align: right;
  margin-top: 10px;
}

.checkout__rightIcon {
  position: relative;
  top: 25px;
  color: green;
  width: auto;
}

.checkout__rightFreeshipment {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin-left: 30px;
}

.checkout__rightFreeshipment__green {
  color: green;
}

.checkout__rightTotal {
  font-size: 1em;
  margin-top: 10px;
}

.checkout__rightButtonorder > button {
  border: none;
  background-color: rgb(255, 204, 0);
  color: black;
  width: 100%;
  font-size: 0.7em;
  padding: 7px 0;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .checkout {
    background-color: rgb(237, 240, 240);
  }
  .checkout__upperbanner {
    width: 100%;
  }
  .checkout__container {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .checkout__left,
  .checkout__right {
    margin: 0;
  }
  .checkout__left {
    padding: 15px;
  }
  .checkout__right {
    width: 100%;
    height: auto;
    padding: 0 15px 20px 15px;
  }
  .checkout__rightButtonorder {
    padding-top: 10px;
  }
}
