.login {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.login__logo {
  width: 120px;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

.login__container {
  display: flex;
  flex-direction: column;
  border: 1px rgb(219, 218, 218) solid;
  padding: 20px 25px;
  gap: 10px;
}

.login__container input {
  border: 1px solid gray;
  height: 30px;
  border-radius: 3px;
  box-shadow: none;
  transition: all ease-in-out 0.15s;
  padding: 0 5px;
}

.login__container input:focus {
  box-shadow: 0px 0px 5px orange;
  border: 1px solid rgb(180, 117, 0);
  outline: none;
  transition: all ease-in-out 0.15s;
}

.login__container button {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: black;
}

.login__container button:hover {
  background: linear-gradient(to bottom, #fadf9e, #e3b540);
}

.login__container p {
  font-size: 0.9em;
  line-height: 1.2em;
}

.login__register {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.login__register p {
  text-align: center;
}

.login__register button {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.login__register button:hover {
  background: linear-gradient(to bottom, #edecec, #d9dade);
}

.login__register button,
.login__container button {
  padding: 7px 0;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 3px;
}

.spinner {
  margin: 0 auto;
  border: 4px solid black !important;
  border-radius: 50%;
  border-top: 4px solid white !important;
  width: 15px;
  height: 15px;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
